.button-icon-gradient {
  --size: 44px;
  width: var(--size);
  height: var(--size);
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding: 10px;
  background-color: transparent;
  transition: 0.3s;
}

.button-icon-gradient>* {
  isolation: isolate;
}

.button-icon-gradient::before {
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  top: -1px;
  left: -1px;
  background: linear-gradient(180deg, transparent 0%, var(--color-black) 105.68%);
  border-radius: 10px;
  transition: 0.3s;
}


@media (hover: hover) {
  .button-icon-gradient:hover {
    border: 1px solid var(--color-white);
  }

  .button-icon-gradient:hover::before {
    background: transparent;
  }
}

@media (hover: none) {
  .button-icon-gradient:active {
    border: 1px solid var(--color-white);
  }

  .button-icon-gradient:active::before {
    background: transparent;
  }
}