.input {
    width: 100%;
    background: var(--color-gray);
    border-radius: 5px;
    border: 0;
    padding: 19px 20px;
    font-size: 18px;
    line-height: 26px;
    color: rgb(40 41 68/ 0.7);
    transition: 0.3s;
}


.input:hover {
    opacity: 0.9;
}