.record {
    padding-block: 87px;
    background-color: var(--color-primery);
    padding-inline: 60px;
}

.record__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.record__left-title {
    max-width: 476px;
    font-size: 36px;
    line-height: 130%;
    font-weight: 600;
    color: var(--color-white);
}

.record__left-descr {
    max-width: 396px;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: var(--color-white);
    margin-top: 20px;
}

.record__form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
}

.record__button {
    background-color: var(--color-black);
}

@media screen and (max-width:1160px) {

    .record {
        padding-block: 60px;
    }

    .record__left-title {
        font-size: 32px;
        
    }
    .record__container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .record__left-descr {
        font-size: 18px;
    }
}


@media screen and (max-width:600px) {
    .record {
        padding-block: 40px;
        padding-inline: 0;
    }

    .record__left-title {
        text-align: center;
        font-size: 30px;
    }

    .record__left-descr {
        text-align: center;
        font-size: 16px;
    }
}